@media(max-width: 980px){
    @font-face {
        src: url(../fontes/Roboto-Regular.ttf);
        font-family: 'roboto';
    }
    *{
        margin: 0;
        padding: 0;
    }
    body {
        position: relative;
        margin: 0;
        color: white; /* Ajusta a cor do texto para garantir que ele seja legível */
        /*A baixo, backgorund de cor V*/
        
        background-color: #000000;
        background-image: linear-gradient(43deg, #000000 0%, #3b313a 46%, #70ffde 100%);
        
        /*segundo gradiente*/
        /*
        background: rgb(9,29,36);
        background: linear-gradient(90deg, rgba(9,29,36,1) 0%, rgba(234,193,163,1) 35%, rgba(20,12,10,1) 100%);
        */
        /*Background de imagem*/
        /*
        background-image: url(/front-end/Portifolio/imagens/bailey-zindel-NRQV-hBF10M-unsplash.jpg);
        */
        background-size:100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        
    
    
    }
    html{
        scroll-behavior: smooth;
    }
    
    
    #conteudogeral{
        height: 100vh;
        display: grid;
     
       
    }
    header{
        width: 100%;
        grid-template-columns: 1fr 3fr 3fr;
        position: fixed;
        display: grid;
        /*
        color: #FFFFFF;
        background: rgba(24, 24, 24, 0.5);
        */
        backdrop-filter:blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(255, 255, 255, 0.18);
        border-right: none;
        border-left: none;
        border-top: none;
        height: 120px;
        align-items: center;
        font-family: 'roboto';
    }
    .headerlinks{
        color: #FFFFFF;
        scroll-behavior: smooth;
        font-family: 'roboto';
        font-size: 2.5vh;
    }
    .headerlinks:active{
        scroll-behavior: smooth;
        font-family: 'roboto';
    }
    .headerlinks:hover{
        color: #c4c4c4;
        transition: 0.5s;
        font-family: 'roboto';
    
    }
    ul{
        list-style: none;
        font-family: 'roboto';
        font-size: 1.8px;
    }
    .name{
        grid-column: 1;
        font-family: 'roboto';
        font-size: 1.8px;
    }
    #informacao{
        grid-column: 3;
        font-family: 'roboto';
        font-size: 1.8px;
    }
    .info{
        display: flex;
        justify-content: space-around;
        font-family: 'roboto';
        font-size: 1.8px;
    }
    .linkedin{
        width: 41px;
        height: 42px;
        margin-right: 2px;
    }
    
    .instagram{
        width: 41px;
        height: 42px;
    }
    .nome{
        margin-left: 10px;
        font-family: 'roboto';
        font-size: 1.8vh;
    }
    li:hover{
        cursor: pointer;
        color: #c4c4c4;
        transition: 0.5s;
        font-family: 'roboto';
    }
    .sobre{
        width: fit-content;
        margin-top: 1px;
        font-family: 'roboto';
        margin-right: 20px;
    }
    .portifolio{
        width: fit-content;
        margin-top: 1px;
        margin-right: 20px;
        font-family: 'roboto';
    }
    
    
    .btnfalecomigo{
        
        
        font-size: 2vh;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 8px;
        
        background: linear-gradient(45deg, #70ffde, #3b313a, #000000);
        
        /*
        background: linear-gradient(90deg, rgba(9,29,36,1) 0%, rgba(234,193,163,1) 35%, rgba(20,12,10,1) 100%);
        */
        filter: blur(0.3);
        background-size: 200% 200%; 
        transition: background-position 0.5s ease-in-out;
        cursor: pointer;
        font-family: 'roboto';
    }
    .btnfalecomigo:hover{
        background-position: right center; 
        font-family: 'roboto';
    }
    
    footer{
        width: 100%;
    height: 25px;
    position:fixed;
    bottom: 0;
    /*
    background: rgba(24, 24, 24, 0.5);
    */
    backdrop-filter:blur(30px);
    box-shadow: 0px 0px 5px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-family: 'roboto';
    }
    
    /*acima esta o conteudo fixado geral da identidade visual*/
    /*altera-lo significa mudança completa na estrutural visual base do portifolio*/
    /*FAZER BACKUP ANTES DE REALIZAR QUALQUER ALTERAÇÃO*/
    
    li{
        width: 89px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'roboto';
    }
    .conjunto{
        position: relative;
        font-family: 'roboto';
    }
    .jp{
    position: absolute;
    width: 541px;
    height: 153px;
    left: 101px;
    top: 190px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    font-family: 'roboto';
    color: #FFFFFF;
    }
    .teixeira{
        position: absolute;
    width: 361px;
    height: 153px;
    left: 346px;
    top: 264px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    color: #FFFFFF;
    }
    
    .moldando{
        position: absolute;
    width: 421px;
    height: 13px;
    left: 105px;
    top: 480px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    }
    
    
    main{
        display: grid;
        margin-bottom: 350px;
        position: relative;
        font-family: 'roboto';
    }
    
    
    .cardbox{
        margin: 50px;
        width: 90%;
        height: 1300px;
        background: rgba(26, 37, 40, 0.3);
        border-radius: 85px;
        transition: transform 0.3s ease; /* Transição adicionada */
        font-family: 'roboto';
    }
    .cardbox:hover{
        transform: scale(1.03); /* Escala quando o mouse estiver sobre o conteúdo */
    }
    
    
    .joao{
        width: fit-content;
        height: 520px;
        border-radius: 73px;
        margin: 30px;
        font-family: 'roboto';
    }
    .cabecalhocardbox{
        
        width:100%;
        text-align: center;
    height: 53px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    padding-top: 30px;
    color: #FFFFFF;
    
    
    }
    .todoconteudocardbox{
        display: flex;
        font-family: 'roboto';
    }
    #cardtext{
        width: 100%;
        padding-right: 60px;
        font-family: 'roboto';
    }
    .textosobre{
    margin: 60px;
    width: 95%;
    height: 408px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 80;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    }
    #cardtext{
    width: 90%;
    height: 1155px;
    background: rgba(43, 43, 43, 0.3);
    border-radius: 33px;
    margin: 40px;
    display: flex;
    font-family: 'roboto';
    }
    #linha{
        width: 100%;
        height: 1px;
        font-family: 'roboto';
        margin-top: 600px;
        margin-bottom: 600px;
    }
    .linhaa{
        width: 20%;
        margin: 0 auto;
        font-family: 'roboto';
    }
    #conteudoPortifolio{
        width: 90%;
    height: 952px;
    background: rgba(26, 37, 40, 0.5);
    border-radius: 85px;
    transition: transform 0.3s ease; /* Transição adicionada */
    font-family: 'roboto';
    }
    #conteudoPortifolio:hover{
        transform: scale(1.03); /* Efeito de zoom */
        font-family: 'roboto';
    }
    #Portifolio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 100px;
        font-family: 'roboto';
    }
    .projetos{
        margin: 60px;
    width: 95%;
    height: fit-content;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 80;
    font-size: 7vh;
    line-height: 50px;
    color: #FFFFFF;
    }
    #projetosdivs{
        width: 100%;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: 'roboto';
    }
    .projdiv{
    width: 464px;
    height: 276px;
    background: rgba(64, 64, 64, 0.5);
    border-radius: 37px;
    transition: transform 0.3s ease; /* Transição adicionada */
    font-family: 'roboto';
    
    }
    .projdiv:hover{
        transform: scale(1.03); /* Efeito de zoom */
    }
    .matricula{
    width: 431px;
    height: 218px;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'roboto';
    }
    a{
        color: aqua;
        text-decoration: none;
        font-family: 'roboto';
    }
    .elit{
        width: 431px;
    height: 218px;
    border-radius: 30px;
    margin-top: 20px;
    }
    
    .tabela{
        width: 431px;
    height: 218px;
    border-radius: 30px;
    margin-top: 20px;
    }
    #projetosdivs div{
        margin: 35px;
    }
    .gridprojetos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        font-family: 'roboto';
    }
    #divbotao{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 160px;
        font-family: 'roboto';
    }
    .btnprjt{
    box-sizing: border-box;
    width: 260px;
    height: 93px;
    background: rgba(217, 217, 217, 0.06);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    font-size: 2vh;
    transition: transform 0.3s ease; /* Transição adicionada */
    font-family: 'roboto';
    
    }
    .btnprjt:hover{
        transform: scale(1.05); /* Efeito de zoom */
        cursor: pointer;
        background: rgba(170, 170, 170, 0.06);
    }
    .linkproje{
        color: white;
        width: 100%;
        height: 100%;
        font-family: 'roboto';
    }
    .margincontato{
        margin: 150px;
        display: flex;
        height: 100vh;
        flex-direction: row;
        font-family: 'roboto';
    }
    .formulario{
    width: 620px;
    height: 742px;
    background: rgba(26, 37, 40, 0.5);
    border-radius: 85px;
    transition: transform 0.3s ease; /* Transição adicionada */
    font-family: 'roboto';
    }
    .formulario:hover{
        transform: scale(1.03); /* Efeito de zoom */
    }
    .contato{
        width: 50%;
        margin-right: 30px;
    }
    .contatotext{
        width: 50%;
        font-family: 'roboto';
    }
    .titulocontato{
        font-size: 5vh;
        margin-bottom: 30px;
        line-height: 115px;
        color: #FFFFFF;
        font-family: 'roboto';
    }
    .infocontato{
        font-size: 2vh;
        font-family: 'roboto';
    }
    .conteudoform{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        
    }
    .inputform{
        margin: 50px;
        font-family: 'roboto';
    }
    input{
        background-color: transparent;
        border: solid 1px #c4c4c4;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 202px;
        height: 55px;
        font-family: 'roboto';
        color: white;
        outline: none;
    }
    
    /*TODO, colocar um bloco de comando onde deixe a formatacao do input identica como estava antes de ser clickada/ativada*/
    
    #textarea{
        width: 90%;
        margin: 30px;
        height: 20%;
        font-family: 'roboto';
    }
    .msg{
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        border: solid 1px #c4c4c4;
        border-top: none;
        border-right: none;
        border-left: none;
        font-family: 'roboto';
    }
    #botaosubmit{
        width: 90%;
        text-align: right;
        margin-top: 70px;
        font-family: 'roboto';
    }
    #botao{
    box-sizing: border-box;
    width: 231px;
    height: 64px;
    background: rgba(217, 217, 217, 0.06);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Transição adicionada */
    color: white;
    font-family: 'roboto';
    }
    #botao:hover{
        transform: scale(1.03); /* Efeito de zoom */
        cursor: pointer;
    }
    /* Classe para o efeito de "fade out" */
    .fade-out {
        opacity: 0; /* Torna a página invisível */
    }
    .tema{
        display: hidden;
        z-index: -99;
        nav-index: -99;
    }
}